<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} <a href="{{ site.url }}" target="_blank">Robert Horvick</a></span>
			 <span>build: <a href="https://github.com/bubbafat/bubbafat.github.io/commit/{{site.github.build_revision}}">{{site.github.build_revision}}</a></span>
		</div>

		{% include socials.html %}

		<a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>

	</div>

</footer>



