<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<a href="{{ site.url }}" target="_blank">Robert Horvick</a> <span>build: <a href="https://github.com/bubbafat/bubbafat.github.io/commit/{{site.github.build_revision}}">{{site.github.build_revision}}</a></span>
		</div>

		{% include socials.html %}

	</div>

</footer>



